nav{
  width: 100%;
  background-color: black;
  color: azure;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-self: center;
  justify-content: space-between;
  z-index: 10;
}
logo{
    width: 100%;
}